body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
 margin-left: 20px;
}

.card {
  width: 280px;
  padding: 10px;
  border-radius: 14px;
  border: 1px solid lightgray; 
  margin: 15px;
}